
<%@ page import="com.unionbank.rwo.management.BeneficiaryB" %>
<!doctype html>
<html>
	<head>
		<meta name="layout" content="bootstrap">
		<g:set var="entityName" value="${message(code: 'beneficiaryB.label', default: 'BeneficiaryB')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<div class="row-fluid">
			
			<div class="span12">
				<div class="page-header">
					<h1 calss="intro-page-head"><span class="hidden-phone"><g:message code="default.list.label" args=" " /></span> ${entityName}</h1>
					<div class="sub-actions btn-group pull-right intro-page-common-functions-top">
						<a id="intro-testdrive" class="btn btn-inverse intro-testdrive-button" title="Test Drive RWO-A UI"><i class="icon-certificate icon-white"></i></a>
						<g:link class="list btn btn-info intro-entity-list-button" action="list">
							<i class="icon-list icon-white"></i>
							<span class="hidden-phone"><g:message code="default.list.label" args=" "/></span><span class="visible-desktop"> ${entityName}</span>
						</g:link>
					</div>
				</div>				

				<g:if test="${flash.message}">
				<bootstrap:alert class="alert-info block-800px center">${flash.message}</bootstrap:alert>
				</g:if>
				<div class="table-responsive">
				<table class="table table-striped table-800px center intro-page-main-data">
					<thead>
						<tr class="intro-page-main-metadata">
						
							<g:sortableColumn property="cifNbr" title="${message(code: 'beneficiaryB.cifNbr.label', default: 'Cif Nbr')}" />
						
							<g:sortableColumn property="ssoId" title="${message(code: 'beneficiaryB.ssoId.label', default: 'Sso Id')}" />
						
							<g:sortableColumn property="bnfciryName" title="${message(code: 'beneficiaryB.bnfciryName.label', default: 'Bnfciry Name')}" />
						
							<g:sortableColumn property="acctNbr" title="${message(code: 'beneficiaryB.acctNbr.label', default: 'Acct Nbr')}" />
						
							<g:sortableColumn property="addrLineOne" title="${message(code: 'beneficiaryB.addrLineOne.label', default: 'Addr Line One')}" />
						
							<g:sortableColumn property="addrLineTwo" title="${message(code: 'beneficiaryB.addrLineTwo.label', default: 'Addr Line Two')}" />
						
							<th class="pull-right">Operations</th>
						</tr>
					</thead>
					<tbody>
					<g:each in="${beneficiaryBInstanceList}" var="beneficiaryBInstance">
						<tr>
						
							<td>${fieldValue(bean: beneficiaryBInstance, field: "cifNbr")}</td>
						
							<td><span class="truncate block-120px">${fieldValue(bean: beneficiaryBInstance, field: "ssoId")}</span></td>
						
							<td>${fieldValue(bean: beneficiaryBInstance, field: "bnfciryName")}</td>
						
							<td>${fieldValue(bean: beneficiaryBInstance, field: "acctNbr")}</td>
						
							<td>${fieldValue(bean: beneficiaryBInstance, field: "addrLineOne")}</td>
						
							<td>${fieldValue(bean: beneficiaryBInstance, field: "addrLineTwo")}</td>
						
							<td class="link text-right intro-entity-button-functions">
									<g:link action="show"
										id="${beneficiaryBInstance.id}" class="btn btn-success btn-mini intro-entity-button-show">
										<i class="icon-search icon-white"></i><span class="hidden-phone"> Show</span>
									</g:link>
							</td>
						</tr>
						
					</g:each>
					</tbody>
				</table>
				</div>
				<div class="pagination pagination-centered">
					<bootstrap:paginate total="${beneficiaryBInstanceTotal}" />
				</div>
			</div>

		</div>
	</body>
</html>