.page-header h1{
  display: inline-block;
}

.sub-actions{
  margin-top: 15px;
}

.link{
  text-align: center;
}

dt{
	width: 200px;
	float: left;
	border-top: 1px solid #eee;
}

dd{
	margin-left: 205px;
	border-top: 1px solid #eee;
}

.display-inline{
	display: inline-block	
}

.text-right, table tr td.text-right{
   text-align: right;	
}

.block-800px, .width-800px, .table-800px{
	max-width: 800px;
}

.center{
    margin-left: auto;
    margin-right: auto;	
}

.primary-key-id{
	font-size: 150%;
	font-weight: bold;	
}

.modal.fade {
	top: -35%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Bitter, Georgia, serif;
}


.truncate {
    display: inline-block;
    text-overflow: ellipsis;      
    overflow:hidden; 
}

block-120px{
	    width: 120px;	
}

h1.welcome{
	text-align: center;
	font-size: 600%;
	line-height: 2;
    background-image: url("../images/startArrow.png");
    min-width: 600px;
    min-height: 600px;
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 150px;
}
.login-ub-logo{
	background-image: url('../images/UB-logo-128x160.png');
						    width: 128px;
						    height: 160px;
						    margin: auto;
}

.login-ub-logo span{
	display: none
}

.start-arrow{
    background-image: url("../images/startArrow.png");
    display: block;
    position: absolute;
    right: 100px;
    top: 50px;
}

.Parent-app-id{
	color: rgb(218,33,40);
}
.app-module-id{
	color: rgb(43, 71, 158);
}
.navbar-inverse .app-module-id{
	color: rgb(81, 123, 255);
}

#login .container {
	width: 320px;
	margin-top: 150px;
	margin-bottom: 50px;
	padding : 30px 50px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
}
#login .row{
	margin-left: auto;
}
#login h3{
	text-align: center;
}

#login input{			
	font-size: 30px;
	line-height: 1;
	height: auto;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

